.page-inner img {
  border: 1px solid #ddd !important;
}

figure.swatch-wrap {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px;
}
.color-box {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
}

@font-face {
  font-family: Roboto, san-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,300i,900");
}
@font-face {
  font-family: Steelfish-Regular;
  src: url("https://s3.amazonaws.com/assets.cadasta.org/fonts/steelfish-rg.ttf");
}
